*{
    margin:  0;
    padding:  0;

    box-sizing: border-box;

    text-decoration: none;
    font-family: 'Fascinate Inline', cursive;

}

body{
    width: 100%;
    height: 100vh;

    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttao{
    display: block;
    text-transform: uppercase;

    font-size: 15px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #FFDF00;
    color: #fff;

    margin: 0 15px;
    padding: 10px 35px;

    border: 1px solid #FFDF00;
    
    position: relative;
    overflow: hidden;
}


/*-----------------------------------------------------------*/
.buttao:hover{
    text-shadow: 0.5px 0.5px black;
    transition: 2.3s;
}

.buttao::before{
    content: '';
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: #FFDF00;

    z-index: -1;

    transition: .7s ease;
}

/*-----------------------------------------------------------*/

.bt1::before{
    width: 0%;
    height: 110%;

}
.bt1:hover::before{
    width: 110%;

}
/*-----------------------------------------------------------*/

.bt2::before{
    width: 110%;
    height: 0%;

}
.bt2:hover::before{
    height: 110%;

}
/*-----------------------------------------------------------*/

.bt3::before{
    width: 110%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);

}
.bt3:hover::before{
    height: 300%;

}
/*-----------------------------------------------------------*/

.bt4::before{
    width: 110%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);

}
.bt4:hover::before{
    height: 300%;

}
/*-----------------------------------------------------------*/

.bt5::before{
    width: 0;
    height: 0;
    border-radius: 4%;
    transition: 1.5s;


}
.bt5:hover::before{
    width: 300%;
    height: 300%;
    transition: 2.5s;
}
/*-----------------------------------------------------------*/